
body {
  margin: 0;
  padding: 0;
  background-color: #e6fafa; 
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.dark-mode {
  background-color: #111; 
}

.calculator {
  background-color: #111;
  border: 6px solid #222;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #000;
}

#display {
  background-color: #d3d3d3;
  height: 80px;
  font-size: 3rem;
  color: black;
  text-align: right;
  padding: 20px;
  border-bottom: 4px solid #444;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.btn {
  border: 2px solid black;
  font-size: 1.8rem;
  padding: 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.btn.number,
#decimal,
#backspace {
  background-color: #196562;
  color: white;
}

.operator,
#equals {
  background-color: #f27d2d;
  color: black;
  font-weight: bold;
}

.function {
  background-color: #2196f3;
  color: white;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s;
}

#history {
  background-color: #222;
  color: #ccc;
  font-size: 1rem;
  padding: 10px;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
}
#history p {
  margin: 5px 0;
}

@media (max-width: 400px) {
  .calculator {
    padding: 8px;
  }

  .buttons {
    gap: 8px;
  }

  #display {
    font-size: 2rem;
    min-height: 60px;
  }

  .btn {
    font-size: 1.2rem;
    padding: 12px;
    height: 50px;
  }
}

@media (max-width: 320px) {
  .calculator {
    padding: 5px;
  }

  .buttons {
    gap: 5px;
  }

  #display {
    font-size: 1.8rem;
    padding: 10px;
    min-height: 50px;
  }

  .btn {
    font-size: 1rem;
    padding: 10px;
    height: 45px;
  }
}
